@using Abp.Web.Mvc.Extensions
@using Microsoft.Owin.Security
@model rooferlocator.com.Web.Models.Account.LoginFormViewModel
@section Styles
{
    @Html.IncludeStyle("~/Views/Account/Login.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Views/Account/Login.js")
}
<script>
    function showLogin() {
        document.getElementById('LoginArea').style.display = 'block';
        document.getElementById('ImageSlider').style.display = 'none';
        document.getElementById('SearchArea').style.display = 'none';
        if (document.getElementById('InquiryView') != null) document.getElementById('InquiryView').style.display = 'none';
        if (document.getElementById('RequestView') != null) document.getElementById('RequestView').style.display = 'none';
        document.getElementById('AboutView').style.display='none';
        document.getElementById('ContactView').style.display='none';
        document.getElementById('TermsView').style.display='none';
    }

    function showHome() {
        document.getElementById('LoginArea').style.display = 'none';
        document.getElementById('ImageSlider').style.display = 'block';
        document.getElementById('SearchArea').style.display = 'block';
        if (document.getElementById('InquiryView')!= null) document.getElementById('InquiryView').style.display = 'none';
        if (document.getElementById('RequestView') != null) document.getElementById('RequestView').style.display = 'none';
        document.getElementById('AboutView').style.display='none';
        document.getElementById('ContactView').style.display='none';
        document.getElementById('TermsView').style.display='none';
    }

    function showInfo(viewName){
        document.getElementById('AboutView').style.display='none';
        document.getElementById('ContactView').style.display='none';
        document.getElementById('TermsView').style.display='none';
        document.getElementById(viewName).style.display='block';
    }
</script>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <!--HEADER BEGIN-->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-3 col-md-3 col-sm-1 col-sm-1"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 center-align"
                 style="box-shadow: 5px 0px 5px -4px rgba(31,73,125,0.8), -5px 0px 8px -5px rgba(31,73,125,0.8);background-image: -ms-linear-gradient(top, #19447D 20%, #2080BE 100%);">
                <a href="/Account/Login">
                    <img src="~/images/rooferlocatorlogo.gif" />
                </a>
                <span style="width:100%;text-align:center;padding-left:45px;">
                    <a href="/Account/Login" style="text-align: center; color: white; vertical-align: bottom;">Home</a>
                    <span style="text-align: center; color: white; vertical-align: bottom;">&nbsp;|&nbsp;</span>
                    <a href="#AboutView" style="text-align: center; color: white; vertical-align: bottom;" onclick="showInfo('AboutView');">About Us</a>
                    <span style="text-align: center; color: white; vertical-align: bottom;">&nbsp;|&nbsp;</span>
                    <a href="#ContactView" style="text-align: center; color: white; vertical-align: bottom;" onclick="showInfo('ContactView');">Contact Us</a>
                </span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-1 col-sm-1"></div>
        </div>
    </div>
    <!--HEADER END-->
    <!--CONTENT/MAIN BEGIN-->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                 style="padding-top: 15px; box-shadow: 5px 0px 5px -4px rgba(31,73,125,0.8), -5px 0px 8px -5px rgba(31,73,125,0.8);margin-top:-9px;">
                <!--SEARCH BEGIN-->
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <form id="InquiryForm" action="@(Url.Action("Inquiry", "Account"))?returnUrl=@(Model.ReturnUrl)" method="POST">
                        <table id="SearchArea">
                            <tr>
                                <td width="35%" height="35" align="right">
                                    Type of Roof:&nbsp;
                                </td>
                                <td width="65%" height="35">
                                    <select id="drpRoofTypes">
                                        <option value="-2">Loading Roof Types...</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td height="35" align="right">
                                    Type of
                                    Service:
                                </td>
                                <td width="65%" height="35">
                                    <select id="drpServiceTypes">
                                        <option value="-2">Loading Service Types...</option>
                                    </select>
                                    @*@Html.DropDownListFor(
                                                 drp => drp.TypeOfService,
                                        Model.TypeOfService.Select(tos => new SelectListItem
                                        {
                                            Text = tos.Name,
                                            Value = tos.Name
                                        }), "Please select a Service-Type")*@
                                </td>
                            </tr>
                            <tr>
                                <td height="35" align="right">
                                    Time of
                                    Repair:
                                </td>
                                <td height="35">
                                    <select name="TimeOfRepairValues">
                                        <option value="">Select</option>
                                        <option value="Less than 1 month">
                                            Less than 1 month
                                        </option>
                                        <option value="2-3 months">
                                            2-3 months
                                        </option>
                                        <option value="4-6 months">
                                            4-6 months
                                        </option>
                                        <option value="More than 6 months">
                                            More than 6 months
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td height="35" align="right">
                                    State:
                                </td>
                                <td height="35">
                                    <select name="StateValues" size="1" id="StateValues">
                                        @*onchange="javascript:getCity(this.options[this.options.selectedIndex].value)">*@
                                        <option value="">
                                            Select State
                                        </option>
                                        <option value='Alabama'>Alabama</option>
                                        <option value='Alaska'>Alaska</option>
                                        <option value='Arizona'>Arizona</option>
                                        <option value='Arkansas'>Arkansas</option>
                                        <option value='California'>California</option>
                                        <option value='Colorado'>Colorado</option>
                                        <option value='Connecticut'>Connecticut</option>
                                        <option value='Delaware'>Delaware</option>
                                        <option value='District of Columbia'>District of Columbia</option>
                                        <option value='Florida'>Florida</option>
                                        <option value='Georgia'>Georgia</option>
                                        <option value='Hawaii'>Hawaii</option>
                                        <option value='Idaho'>Idaho</option>
                                        <option value='Illinois'>Illinois</option>
                                        <option value='Indiana'>Indiana</option>
                                        <option value='Iowa'>Iowa</option>
                                        <option value='Kansas'>Kansas</option>
                                        <option value='Kentucky'>Kentucky</option>
                                        <option value='Louisiana'>Louisiana</option>
                                        <option value='Maine'>Maine</option>
                                        <option value='Maryland'>Maryland</option>
                                        <option value='Massachusetts'>Massachusetts</option>
                                        <option value='Michigan'>Michigan</option>
                                        <option value='Minnesota'>Minnesota</option>
                                        <option value='Mississippi'>Mississippi</option>
                                        <option value='Missouri'>Missouri</option>
                                        <option value='Montana'>Montana</option>
                                        <option value='Nebraska'>Nebraska</option>
                                        <option value='Nevada'>Nevada</option>
                                        <option value='New Hampshire'>New Hampshire</option>
                                        <option value='New Jersey'>New Jersey</option>
                                        <option value='New Mexico'>New Mexico</option>
                                        <option value='New York'>New York</option>
                                        <option value='North Carolina'>North Carolina</option>
                                        <option value='North Dakota'>North Dakota</option>
                                        <option value='Ohio'>Ohio</option>
                                        <option value='Oklahoma'>Oklahoma</option>
                                        <option value='Oregon'>Oregon</option>
                                        <option value='Pennsylvania'>Pennsylvania</option>
                                        <option value='Rhode Island'>Rhode Island</option>
                                        <option value='South Carolina'>South Carolina</option>
                                        <option value='South Dakota'>South Dakota</option>
                                        <option value='Tennessee'>Tennessee</option>
                                        <option value='Texas'>Texas</option>
                                        <option value='Utah'>Utah</option>
                                        <option value='Vermont'>Vermont</option>
                                        <option value='Virginia'>Virginia</option>
                                        <option value='Washington'>Washington</option>
                                        <option value='West Virginia'>West Virginia</option>
                                        <option value='Wisconsin'>Wisconsin</option>
                                        <option value='Wyoming'>Wyoming</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td height="35" align="right">
                                    City:
                                </td>
                                <td height="35">
                                    <select id="City">
                                        
                                    </select>
                                    @*@Html.DropDownListFor(
                                                 drp => drp.City,
                                        Model.City.Select(c => new SelectListItem
                                        {
                                            Text = c.Name,
                                            Value = c.Id.ToString()
                                        }), "Please select City")*@
                                </td>
                            </tr>
                            <tr>
                                <td height="50" align="center" colspan="2">
                                    <button id="SearchButton" type="submit" src="~/images/search2.jpg"
                                            width="100" height="32"
                                            style="border: 0px white solid;"
                                            class="btn btn-primary">
                                        <i class="fa fa-sign-in"></i> Search
                                    </button>
                                    @*<input id="SubmitRequest" type="image" style="border: 0px white solid;"
                                        src="~/App/Main/images/search2.jpg" width="100" height="32">&nbsp;&nbsp;&nbsp;*@
                                    <!--<a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image9','','images/reset_h.gif',1)">
                                    <img src="images/reset.gif" name="Image9" width="72" height="22" border="0" id="Image9" /></a> -->
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <!--SEARCH END-->
                <!--LOGIN BEGIN-->
                <div id="LoginArea" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive"
                     style="display:none;padding-right:0px;text-align: center;">
                    <form id="LoginForm" action="@(Url.Action("Login", "Account"))?returnUrl=@(Model.ReturnUrl)" method="POST">
                        <table class="table table-condensed ">
                            <tr>
                                <td>
                                    <fieldset>
                                        <legend>Login</legend>
                                        <div class="form-group">
                                            <div>
                                                <input type="text" class="form-control" id="EmailAddressInput" placeholder="User name or email" required maxlength="@rooferlocator.com.Users.User.MaxEmailAddressLength">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div>
                                                <input type="password" class="form-control" id="PasswordInput" placeholder="Password" required maxlength="@rooferlocator.com.Users.User.MaxPlainPasswordLength">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" id="RememberMeInput">
                                                        <span class="ripple"></span>
                                                        <span class="check"></span> Remember me
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div>
                                                <button id="LoginButton" type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Login</button>
                                                <a class="btn btn-success" href="@Url.Action("Register")"><i class="fa fa-sign-in"></i> Register</a>
                                            </div>
                                        </div>
                                    </fieldset>
                                    @{
                                        var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes().ToList();
                                    }

                                    @if (loginProviders.Count > 0)
                                    {
                                        <p>Or login with:</p>

                                        using (Html.BeginForm("ExternalLogin", "Account", method: FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()

                                            <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
                                            <input type="hidden" name="provider" value="" />

                                            foreach (var provider in loginProviders)
                                            {
                                                <a class="btn btn-default btn-sm social-login-link" title="@provider.AuthenticationType"
                                                   data-provider="@provider.AuthenticationType"
                                                   href="javascript:;">
                                                    <i class="fa fa-@(provider.AuthenticationType.ToLower())"></i> @provider.AuthenticationType
                                                </a>
                                            }
                                        }
                                    }

                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <!--LOGIN BEGIN-->
                <!--IMAGE BEGIN-->
                <div id="ImageSlider" class="col-lg-6 col-md-12 col-sm-12 col-xs-1" style="text-align: center; ">
                    <img style="width: 335px;" src="~/images//NewEnglandStyleHouse.jpg" />
                </div>
                <!--IMAGE END-->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
        </div>
    </div>
    <!--CONTENT/MAIN END-->
    <!--INQUIRY REQUEST BEGIN-->
    @*@if (Model.InquiryResults != null && Model.InquiryResults.InquiryId != 0)
    {
        <div id="InquiryView" class="row" style="display:block;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 center-align"
                     style="text-align: center;box-shadow: 5px 0px 5px -4px rgba(31,73,125,0.8), -5px 0px 8px -5px rgba(31,73,125,0.8);margin-top:-9px;">
                    @Html.Partial("CustomerRequest", Model.InquiryResults)
                </div>
                <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
            </div>
        </div>
    }*@
    <!--INQUIRY REQUEST END-->
    <!--SEND REQUEST BEGIN-->
    @*@if (Model.RequestResults != null && Model.RequestResults.Id != 0)
    {
        <div id="RequestView" class="row" style="display:block;">
            <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 center-align"
                 style="text-align: center;box-shadow: 5px 0px 5px -4px rgba(31,73,125,0.8), -5px 0px 8px -5px rgba(31,73,125,0.8);margin-top:-9px;">
                @Html.Partial("CustomerRequestResult", Model.RequestResults)
            </div>
            <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
        </div>
    }*@

    <!--ABOUT US END-->
    <div id="AboutView" style="display:none;" class="row">
        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-3 col-md-3 col-sm-1 col-sm-1"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 center-align"
                 style="padding-top: 10px;padding-left:5px; padding-right:5px; text-align: center;box-shadow: 5px 0px 5px -4px rgba(31,73,125,0.8), -5px 0px 8px -5px rgba(31,73,125,0.8);margin-top:-9px;">
                @Html.Partial("AboutView")
            </div>
            <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
        </div>
    </div>
    <!--ABOUT US END-->
    <!--CONTACT US BEGIN-->
    <div id="ContactView" style="display:none;" class="row">
        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-3 col-md-3 col-sm-1 col-sm-1"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 center-align"
                 style="padding-top: 10px;padding-left:5px; padding-right:5px; text-align: center;box-shadow: 5px 0px 5px -4px rgba(31,73,125,0.8), -5px 0px 8px -5px rgba(31,73,125,0.8);margin-top:-9px;">
                @Html.Partial("ContactView")
            </div>
            <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
        </div>
    </div>
    <!--CONTACT US END-->
    <!--TERMS BEGIN-->
    <div id="TermsView" style="display:none;" class="row">
        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-3 col-md-3 col-sm-1 col-sm-1"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 center-align"
                 style="padding-top: 10px;padding-left:5px; padding-right:5px; text-align: center;box-shadow: 5px 0px 5px -4px rgba(31,73,125,0.8), -5px 0px 8px -5px rgba(31,73,125,0.8);margin-top:-9px;">
                @Html.Partial("TermsView")
            </div>
            <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
        </div>
    </div>
    <!--TERMS END-->
    <!--FOOTER BEGIN-->
    <div class="row">
        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 center-align"
                 style="padding-top: 15px; box-shadow: 5px 0px 5px -4px rgba(31,73,125,0.8), -5px 0px 8px -5px rgba(31,73,125,0.8);margin-top:-9px;">
                <div style="background-image:url('../../../../images/footer-bg.gif'); background-repeat:repeat-x;color:white;padding-top:10px;padding-bottom:10px;">
                    <a href="@Url.Action("Register")" style="color:white;padding-left:10px;padding-right:10px;padding-top:10px;padding-bottom:10px;">Register</a> |
                    <a href="#terms" onclick="showInfo('TermsView');" style="color:white;padding-left:10px;padding-right:10px;padding-top:10px;padding-bottom:10px;">Terms</a> |
                    <a href="#Login" style="color:white;padding-left:10px;padding-right:10px;padding-top:10px;padding-bottom:10px;" onclick="showLogin();">Login</a> |
                    <a href="#Contact" onclick="showInfo('ContactView');" style=" color:white;padding-left:10px;padding-right:10px;padding-top:10px;padding-bottom:10px;">Contact</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
        </div>
    </div>
    <!--FOOTER END-->
</div>


