@using Abp.Extensions
@model rooferlocator.com.Web.Models.Account.RegisterMemberViewModel
@section Styles
{
    <link href="~/Views/Account/Login.css" rel="stylesheet" />
}

<script>
    function showPanel(panelId, itemId) {
        document.getElementById('CompanyPanel').style.display = 'none';
        document.getElementById('LicensePanel').style.display = 'none';
        document.getElementById('ContactPanel').style.display = 'none';
        document.getElementById(panelId).style.display = 'block';

        document.getElementById("CompanyItem").className = "";
        document.getElementById("LicenseItem").className = "";
        document.getElementById("ContactItem").className = "";
        document.getElementById(itemId).className = 'active';
    }

    function showLogin() {
        document.getElementById('LoginArea').style.display = 'block';
        document.getElementById('ImageSlider').style.display = 'none';
        document.getElementById('SearchArea').style.display = 'none';
        if (document.getElementById('InquiryView') != null) document.getElementById('InquiryView').style.display = 'none';
        if (document.getElementById('RequestView') != null) document.getElementById('RequestView').style.display = 'none';
        document.getElementById('AboutView').style.display='none';
        document.getElementById('ContactView').style.display='none';
        document.getElementById('TermsView').style.display='none';
    }

    function showHome() {
        document.getElementById('LoginArea').style.display = 'none';
        document.getElementById('ImageSlider').style.display = 'block';
        document.getElementById('SearchArea').style.display = 'block';
        if (document.getElementById('InquiryView')!= null) document.getElementById('InquiryView').style.display = 'none';
        if (document.getElementById('RequestView') != null) document.getElementById('RequestView').style.display = 'none';
        document.getElementById('AboutView').style.display='none';
        document.getElementById('ContactView').style.display='none';
        document.getElementById('TermsView').style.display='none';
    }

    function showInfo(viewName){
        document.getElementById('AboutView').style.display='none';
        document.getElementById('ContactView').style.display='none';
        document.getElementById('TermsView').style.display='none';
        document.getElementById(viewName).style.display='block';
    }

    //Need to get the CreditsHero CompanyId for RooferLocator
    chCompanyId = "@System.Web.Configuration.WebConfigurationManager.AppSettings["creditsHero:CompanyId"]";
</script>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <!--CONTENT/MAIN BEGIN-->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-align" 
                     style="padding-left:7px;padding-right:7px;padding-top:5px;text-align:center;background-color:black;opacity:.70; border-radius:5px;max-width:500px;">
                        <form class="form-horizontal" action="@(Url.Action("RegisterMember", "Register"))" method="POST">
                            <fieldset>
                                <legend>Register <small>(part 2 of 3)</small></legend>
                                <ul class="nav nav-pills">
                                    <li id="CompanyItem" role="presentation" class="active" onclick="showPanel('CompanyPanel', 'CompanyItem');"><a href="#CompanyPanel">Company</a></li>
                                    <li id="LicenseItem" role="presentation" onclick="showPanel('LicensePanel', 'LicenseItem');"><a href="#LicensePanel">License</a></li>
                                    <li id="ContactItem" role="presentation" onclick="showPanel('ContactPanel', 'ContactItem');"><a href="#ContactPanel">Contact</a></li>
                                </ul>

                                <input type="hidden" class="form-control" name="UserRefId" value="@Model.UserRefId.ToString()" />

                                <!--BEGIN COMPANY INFO-->
                                <div id="CompanyPanel" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="display:block;">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" class="form-control" name="Company.Name" value="@Model.Company.Name"
                                               placeholder="Enter company name here" required>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" class="form-control" name="Company.Address1" value="@Model.Company.Address1"
                                               placeholder="Enter company address line 1 here" required>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" class="form-control" name="Company.Address2" value="@Model.Company.Address2"
                                               placeholder="Enter address line 2 here">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <input type="text" class="form-control" name="Company.City" value="@Model.Company.City"
                                               placeholder="Enter city here">
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        <input type="text" class="form-control" name="Company.State" value="@Model.Company.State"
                                               placeholder="State">
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        <input type="text" class="form-control" name="Company.Zip" value="@Model.Company.Zip"
                                               placeholder="Enter zip here">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <input type="text" class="form-control" name="Company.ServiceArea" value="@Model.Company.ServiceArea"
                                               placeholder="Enter service area here">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <input type="text" class="form-control" name="Company.YearEstablished" value="@Model.Company.YearEstablished"
                                               placeholder="Year Est.">
                                    </div>
                                </div>
                                <!--END COMPANY INFO-->
                                <!--BEGIN MEMBER INFO-->
                                <div id="LicensePanel" class="class=" col-lg-12 col-md-12 col-sm-12 col-xs-12"" style="display:none;">
                                    <div class="form-group">
                                        <div class="col-lg-12 col-md-12 col-sm-1 col-xs-1">
                                            <input type="hidden" class="form-control" name="Fullname" value="@Model.FullName"
                                                   placeholder="Enter fullname here" required>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-1 col-xs-1">
                                            <input type="hidden" class="form-control" name="Email" value="@Model.Email"
                                                   placeholder="Enter email here" required>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <input type="text" class="form-control" name="JobTitle" value="@Model.JobTitle"
                                                   placeholder="Enter job title here">
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <input type="text" class="form-control" name="Credential" value="@Model.Credential"
                                                   placeholder="Enter credential here">
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <input type="text" class="form-control" name="License Description" value="@Model.LicenseDescription"
                                                   placeholder="Enter license description here">
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <input type="text" class="form-control" name="LicenseNumber" value="@Model.LicenseNumber"
                                                   placeholder="Enter license number here">
                                        </div>
                                    </div>
                                </div>
                                <!--END MEMBER INFO-->
                                <!--BEGIN CONTACT INFO-->
                                <div id="ContactPanel" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="display:none;">
                                    <div class="form-group">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <input type="text" class="form-control" name="CellPhone" value="@Model.CellPhone"
                                                   placeholder="Enter cell number here" required>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <input type="text" class="form-control" name="Fax" value="@Model.Fax"
                                                   placeholder="Enter fax number here">
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <input type="text" class="form-control" name="Phone" value="@Model.Phone"
                                                   placeholder="Enter phone number here" required>
                                        </div>

                                    </div>
                                </div>
                                <!--END CONTACT INFO-->

                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
                                        <button id="RegisterButton" type="submit" class="button button-border button-light button-circle" data-scrollto="#section-works" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">Next</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
            </div>
        </div>
    </div>
    <!--CONTENT/MAIN END-->
</div>
