@section Styles
{
    <link href="~/Views/Account/Login.css" rel="stylesheet" />
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="well bs-component col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form class="form-horizontal" action="@(Url.Action("ResetPassword","Account"))" method="POST">
                    <fieldset>
                        <legend>@L("Register")</legend>

                        @if (@ViewBag.ErrorMessage != null)
                        {
                            <div class="alert alert-danger">
                                <i class="fa fa-warning"></i> @ViewBag.ErrorMessage
                            </div>
                        }

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:10px;margin:0px;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;margin:0px;">
                                <input type="text" class="form-control" name="Email" value="" placeholder="@L("Email")" required>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;margin:0px;">
                                <input type="text" class="form-control" name="PasswordResetCode" value="" placeholder="Password Reset Code" required>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;margin:0px;">
                                <input type="password" class="form-control" name="Password" placeholder="@L("Password")" required maxlength="@conciergesworldwide.com.Users.User.MaxPlainPasswordLength">
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;margin:0px;">
                                <input type="password" class="form-control" name="ConfirmPassword" placeholder="Confirm Password" required maxlength="@conciergesworldwide.com.Users.User.MaxPlainPasswordLength">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
                                <button type="submit" id="ResetPassword" class="btn btn-primary"><i class="fa fa-sign-in"></i> Reset Password</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>