@using System.Threading
@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="~/favicon.ico">

    <title>RooferLocator.com</title>

    @Styles.Render("~/Bundles/vendor/css")
    @Styles.Render("~/Bundles/css")

    <!-- View specific styles -->
    @RenderSection("Styles", false)

    <script type="text/javascript">
        //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    @*
            @Html.IncludeScript("~/Scripts/others/html5shiv.js")
            @Html.IncludeScript("~/Scripts/others/respond.min.js")
    *@
        <![endif]-->

    @Scripts.Render("~/Bundles/vendor/js/top")

    <script>
        //Need to get the CreditsHero CompanyId for RooferLocator
        chCompanyId = "@System.Web.Configuration.WebConfigurationManager.AppSettings["creditsHero:APIKey"]";
        chRoofTypeId = "@System.Web.Configuration.WebConfigurationManager.AppSettings["creditsHero:RoofTypeId"]";
        chServiceTypeId = "@System.Web.Configuration.WebConfigurationManager.AppSettings["creditsHero:ServiceTypeId"]";
        chWebApiMakeInquiryUrl = "@System.Web.Configuration.WebConfigurationManager.AppSettings["creditsHero_WebAPI:MakeInquiry"]";
    </script>
</head>
<body>

    <div class="container" style="width:100%;">
        @RenderBody()
    </div>

    @Scripts.Render("~/Bundles/vendor/js/bottom")
    @Scripts.Render("~/Bundles/js")

    <script>
        //Localizing momentjs
        moment.locale('@Thread.CurrentThread.CurrentUICulture.Name');
    </script>

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/api/AbpServiceProxies/GetAll"></script>
    <script src="~/AbpScripts/GetScripts" type="text/javascript"></script>

    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)

    <script>
        function chGetData(query, serviceUrl, element, elementFirstOption) {
            $.ajax({
                type: "POST",
                data: query,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: serviceUrl,
                success: function (data) {
                    if ($(element).get(0) != undefined) {
                        $(element).get(0).options.length = 0;
                        $(element).get(0).options[0] = new Option(elementFirstOption, "-1");

                        $.each(data.result.criteriaValues, function (index, item) {
                            $(element).get(0).options[$(element).get(0).options.length] = new Option(item.name, item.name);
                        });
                    }
                }
            });
        };
           
        chGetData(
            "{criteriaId: " + chRoofTypeId + ", companyId: '" + chCompanyId + "'}",
            "http://localhost:6634/api/services/app/Criteria/GetCriteriaValues",
            "#RoofTypeValues",
            "Select Roof Type"
            );
        chGetData(
            "{criteriaId: " + chServiceTypeId + ", companyId: '" + chCompanyId + "'}",
            "http://localhost:6634/api/services/app/Criteria/GetCriteriaValues",
            "#TypeOfService",
            "Please select a Service-Type"
            );
    </script>
</body>
</html>